{# <h1>
  {{ dump(title) }}
</h1>
{% if title %}
  <p>{{title}} is a movie</p>
{% else %}
  <p>Whoops, no title has been set.</p>
{% endif %} #}

{% extends "base.html.twig" %}

{% block title %}
  Movies Page
{% endblock %}

{% block body %}
  {# <h1>{{title}}</h1> #}
  {# 
  <ul>
    {% for movie in movies %}
      <li>{{ movie }}</li>       
    {% endfor %}
  </ul>
  {{ _self }}
  {{ _charset }}
  {{ author }}
  #}

  <h1 class="bg-blue-500 text-2xl text-center font-bold">WOOHOO!</h1>
  <img src="{{ asset('build/images/image1.jpg')}}" alt="">

{% endblock %}